BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
SortIncludes: true
IncludeBlocks: Regroup
SpacesBeforeTrailingComments: 1
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
SpaceAfterCStyleCast: true